<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://ncloud.carmensteffens.com.br/index.php/s/aEogDQGBdxgaK7R/preview" type="image/gif" sizes="16x16">
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <link href="/static/neumorphism-ui.css" rel="stylesheet" type="text/css"/>
  <title>Gestor</title>
</head>
<body class="light-mode">
    <!-- Header -->
    <header id="block-header" class="sul-box-raised-2 container">
      <ul id="ul-header">
        <a href="/" rel="noopener noreferrer"><li> Home </li></a>
        <a href="/tutoriais" rel="noopener noreferrer"><li> Tutoriais </li></a>
        <a class="asc" href="https://carmensteffens2.octadesk.com/helpcenter" target="_blank" rel="noopener noreferrer"><li> Acompanhe seus Chamados </li></a>
      </ul>
    </header>

  <div id="container" class="light-mode">  
    <div id="content-iframe">
          <!-- Conteudo -->
    <div id="content" class="sul-box-raised-2 container">

      <a class="btn-return" href="/"> Voltar para home </a>
      <h1 style="margin-top: 10px; font-size: 1.5em; font-weight: 600;">Departamento Gestor</h1>
      <p style="font-size: 13px;">Selecione a temática do seu atendimento</p>

      <!-- Gestor -->
      <div class="dpto" style="margin-top: -20px;">
        <a id="btn" class="sul-btn" href="/gestor/adm">
          Administrativo
        </a>
      </div>

      <!-- Financeiro -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/gestor/ferramentas">
          Action/Addi/CRM Bônus/Moki
        </a>
      </div>
      
      </div>
    </div>
    </div>  
  </div>
  
</body>
</html>