<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Call Center | Carmen Steffens</title>
  <link rel="icon" href="https://ncloud.carmensteffens.com.br/index.php/s/aEogDQGBdxgaK7R/preview" type="image/gif" sizes="16x16">
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <link href="/static/neumorphism-ui.css" rel="stylesheet" type="text/css"/>
</head>

<body class="light-mode">

    <!-- Header -->
    <header id="block-header" class="sul-box-raised-2 container">
      <ul id="ul-header">
        <a href="/" rel="noopener noreferrer"><li> Home </li></a>
        <a href="/tutoriais" rel="noopener noreferrer"><li> Tutoriais </li></a>
        <a class="asc" href="https://carmensteffens2.octadesk.com/helpcenter" target="_blank" rel="noopener noreferrer"><li> Acompanhe seus Chamados </li></a>
      </ul>
    </header>

  <!-- Container -->
  <div id="container" class="light-mode">

    <!-- Logo -->
    <div id="header">
      <h1> Call Center </h1>
      <img width="240px" src="https://ncloud.carmensteffens.com.br/index.php/s/dqxfWgQdHMAFFr9/preview">
    </div>

    <!-- Conteudo -->
    <div id="content" class="sul-box-raised-2 container">

      <p> Selecione um departamento para ser atendido. </p>

      <!-- Gestor -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/gestor">
          Gestor
        </a>
      </div>

      <!-- Financeiro -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/financeiro">
          Financeiro
        </a>
      </div>

        <!-- Faturamento -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/faturamento">
          Faturamento
        </a>
      </div>

      <!-- Comercial -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/comercial">
          Comercial
        </a>
      </div>

      <!-- Marketing -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/marketing">
          Marketing
        </a>
      </div>

      <!-- Consertos -->
      <div class="dpto">
        <a id="btn" class="sul-btn" href="/consertos">
          Relacionamento
        </a>
      </div>
    </div>
  </div>
</body>
</html>
